<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f3dcf3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CreativeMedia24x7</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav context"> 
          <a class="nav-link active" aria-current="page" href="#" [routerLink] = "['/']">Home</a>&nbsp;
          <a class="nav-link" href="#">Services</a>&nbsp;
          <a class="nav-link" href = "#" [routerLink] = "['/counterApp']">CounterApp</a>&nbsp;
          <a class="nav-link" href = "#" [routerLink] = "['/posts']">Blog Posts</a>&nbsp;
          <a class="nav-link" href="#" [routerLink] = "['/contact']">Contact</a>&nbsp;
          <a class="nav-link" href="#" [routerLink] = "['/about']">About</a>&nbsp;
        </div>
      </div>
    </div>
  </nav>


 