
<div class="row">

    <div class="col-md-12">

        <h3 style="padding-bottom:10px; border: 3px rgb(183, 0, 255) solid;">
            <fa-icon style="color: rgb(222, 115, 226); size: 50px; padding-left: 2px;" [icon]="faPlusCircle"></fa-icon>
            Add post
        </h3>

        <form>
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea type="text" class="form-control"></textarea>
            </div>

            <div class="my-3">
                <button type="submit" class="btn btn-primary">
                    Add Post
                </button>
            </div>
        </form>
    </div>




    <!-- <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form> -->
</div>