<!-- 
  
<div class="stars" style="color:blue;">
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: pink;"></div>
    <div class="star" style="color: rgb(192, 255, 220);"></div>
    <div class="star" style="color: rgb(255, 192, 247);"></div>
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: pink;"></div>
    <div class="star" style="color: rgb(207, 103, 120);"></div>
    <div class="star" style="color: rgb(226, 0, 0);"></div>
    <div class="star" style="color: rgb(50, 19, 80);"></div>
    <div class="star" style="color: rgb(5, 236, 179);"></div>
    <div class="star" style="color: rgb(207, 103, 120);"></div>
    <div class="star" style="color: rgb(226, 0, 0);"></div>
    <div class="star" style="color: rgb(50, 19, 80);"></div>
    <div class="star" style="color: rgb(5, 236, 179);"></div>
</div>

<div class="container context" style="font-family: Times New Roman, Times, serif;">

    <div class="row">
        <hr>
        <div  style="width: 50%;
        border: 15px solid green;
        padding: 25px;
        margin: 10px;">

            <h1 style="text-align: left; padding-top: 5%;">
                <img src="../../assets/img/myProfile.png" style="width: 15%; text-align: left;" alt="Profile image">
                <span style="padding-right: 50px;">
                    Hi, My name is ABHI
                </span>
            </h1>
        </div>
        
        <div style="width: 20%;
        padding: 5px;
        position:relative; left:200px; top: 50px;
       ">
        <button class="btn btn-info">
            <a class="btn line-btn-dark btn-icon btn-radius" href="../../assets/img/Resume.pdf" title="" download>
                <span style="padding-right: 5%; color: black;">Download my RESUME</span>
                <fa-icon class="specialIcons" [icon]="faDownload"></fa-icon>
            </a>
        </button>
        </div>

       
        <div style="width: 50%;
        border: 15px solid palevioletred;
        padding: 20px;
        margin: 10px;
        position:relative; left:600px; top: 20px;"
        >
            <h2 style="text-align: right; padding-top: 4%;">
                <img src="../../assets/img/img2.png" style="width: 10%; text-align: left;" alt="Profile image">
                I am a full-time software developer
                <br>
                 I code mostly in Angular
                <fa-icon style="position:relative; height: 50px; width: 50px; color: rgb(141, 13, 13);" class="specialIcons" [icon]="faAngular">A</fa-icon>
                 and Typescript
            </h2>
        </div>

        

        <div style="width: 30%;
        border: 15px solid blueviolet;
        padding: 20px;
        margin: 10px;
        position:relative; left:-600px; top: 20px;"
        > 
            <h3 style="text-align: left; padding-top: 4%;">
              ......... Links to my
               active sites......
              .. <h1 style="padding-left: 45%;">
                ⤵
              </h1>
 
            </h3>
        </div>
 
    </div>

    <div class="container" style="position:relative; top: 20px;
        width: 80%;
            border: 15px solid black;
            padding: 5px;
            margin: 5px;">
    
        <div style="display: inline-block; text-align: left; padding: 7%;">
    
            <a href="https://www.linkedin.com/in/abhi-shaktawat-b30b55173/">
                <fa-icon class="specialIcons linkedin" [icon]="faLinkedin"></fa-icon>
            </a>
    
        </div>
    
        <div style="display: inline-block; text-align: left; padding: 7%;">
    
            <a href="https://www.youtube.com/channel/UCOlMw469tDYXxS-yRagay3g/videos">
                <fa-icon class="specialIcons youtube" [icon]="faYoutube"></fa-icon>
            </a>
    
        </div>
        <div style="display: inline-block; text-align: left; padding: 7%;">
    
            <a href="https://github.com/AbhimanyuGit447">
                <fa-icon class="specialIcons github" [icon]="faGithub"></fa-icon>
            </a>
    
        </div>
        <div style="display: inline-block; text-align: left; padding: 7%;">
            <a href="https://leetcode.com/abhi474747/">
            <fa-icon class="specialIcons" style="color: orange;" [icon]="faHackerrank"></fa-icon>
           </a>
        </div>


    </div>

</div> -->


































  
<div class="stars" style="color:blue;">
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: pink;"></div>
    <div class="star" style="color: rgb(192, 255, 220);"></div>
    <div class="star" style="color: rgb(255, 192, 247);"></div>
    <div class="star" style="color: rgb(0, 218, 65);"></div>
    <div class="star" style="color: pink;"></div>
    <div class="star" style="color: rgb(207, 103, 120);"></div>
    <div class="star" style="color: rgb(226, 0, 0);"></div>
    <div class="star" style="color: rgb(50, 19, 80);"></div>
    <div class="star" style="color: rgb(5, 236, 179);"></div>
    <div class="star" style="color: rgb(207, 103, 120);"></div>
    <div class="star" style="color: rgb(226, 0, 0);"></div>
    <div class="star" style="color: rgb(50, 19, 80);"></div>
    <div class="star" style="color: rgb(5, 236, 179);"></div>
</div>

<div class="container context" style="font-family: Times New Roman, Times, serif;">

    <div class="row">
        <hr>
        <div  style="
        border: 15px solid green;
        padding: 25px;
        margin: 10px;">

            <h1 style="text-align: left; padding-top: 5%;">
                <img src="../../assets/img/myProfile.png" style="width: 15%; text-align: left;" alt="Profile image">
                <span style="padding-right: 50px;">
                    Hi, My name is ABHI
                </span>
            </h1>
        </div>
        
        <div style="
        padding: 5px;
       ;
       ">
        <button class="btn btn-info">
            <a class="btn line-btn-dark btn-icon btn-radius" href="../../assets/img/Resume.pdf" title="" download>
                <span style="padding-right: 5%; color: black;">Download my RESUME</span>
                <fa-icon class="specialIcons" [icon]="faDownload"></fa-icon>
            </a>
        </button>
        </div>

       
        <div style="
        border: 15px solid palevioletred;
        padding: 20px;
        margin: 10px;
       "
        >
            <h2 style="text-align: right; padding-top: 4%;">
                <img src="../../assets/img/img2.png" style="width: 10%; text-align: left;" alt="Profile image">
                I am a full-time software developer
                <br>
                 I code mostly in Angular
                <fa-icon style="position:relative; height: 50px; width: 50px; color: rgb(141, 13, 13);" class="specialIcons" [icon]="faAngular">A</fa-icon>
                 and Typescript
            </h2>
        </div>

        

        <div style="
        border: 15px solid blueviolet;
        padding: 20px;
        margin: 10px;
       "
        > 
            <h3 style="text-align: left; padding-top: 4%;">
              ......... Links to my
               active sites......
              .. <h1 style="padding-left: 45%;">
                ⤵
              </h1>
 
            </h3>
        </div>
 
    </div>

    <div class="container" style="
        
            border: 15px solid black;
            padding: 5px;
            margin: 5px;">
    
        <div style="display: inline-block; text-align: left; padding: 7%;">
    
            <a href="https://www.linkedin.com/in/abhi-shaktawat-b30b55173/">
                <fa-icon class="specialIcons linkedin" [icon]="faLinkedin"></fa-icon>
            </a>
    
        </div>
    
        <div style="display: inline-block; text-align: left; padding: 7%;">
    
            <a href="https://www.youtube.com/channel/UCOlMw469tDYXxS-yRagay3g/videos">
                <fa-icon class="specialIcons youtube" [icon]="faYoutube"></fa-icon>
            </a>
    
        </div>
        <div style="display: inline-block; text-align: left; padding: 7%;">
    
            <a href="https://github.com/AbhimanyuGit447">
                <fa-icon class="specialIcons github" [icon]="faGithub"></fa-icon>
            </a>
    
        </div>
        <div style="display: inline-block; text-align: left; padding: 7%;">
            <a href="https://leetcode.com/abhi474747/">
            <fa-icon class="specialIcons" style="color: orange;" [icon]="faHackerrank"></fa-icon>
           </a>
        </div>


    </div>

</div>









